<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>action</key>
	<false/>
	<key>category</key>
	<string>SCRIPTS</string>
	<key>command</key>
	<string>#This script requires FBCMD
#Instructions: http://fbcmd.dtompkins.com/installation

#Desc:	Updates your Facebook status
#Use:	fbstat &lt;status&gt;
#Ex:	fbstat I can update my status from Alfred!

/usr/local/bin/fbcmd status "{query}"
echo "Facebook status saved"</string>
	<key>escapequery</key>
	<false/>
	<key>escapequerybackquotes</key>
	<false/>
	<key>escapequeryquotes</key>
	<true/>
	<key>growloutput</key>
	<true/>
	<key>growloutputsticky</key>
	<false/>
	<key>keyword</key>
	<string>fbstat</string>
	<key>logging</key>
	<false/>
	<key>silent</key>
	<true/>
	<key>subtitle</key>
	<string>Set Facebook Status</string>
	<key>title</key>
	<string>Set Facebook Status</string>
</dict>
</plist>
